@charset "utf-8";
/* CSS Document */
.container {
	width: 80%; margin: 0 auto
}
header {
	width: 100%; min-height: 50px; line-height: 50px
}
.logo {
	width: 8%; height: auto; padding-top: 13px
}
.logo a {
	text-decoration: none
}
.logo img {
	transition: all 0.7s 
}
.logo a:hover img{
	transform: scale(1.2); opacity: 0.7
}
/*menu*/
.menu {
	width: 60%
}
.menu ul {
	margin: 0; padding: 0; list-style: none; display: flex; justify-content: space-between
}
.menu ul li {
	padding: 0px 15px; display: block;
}
.menu ul li a {
	 text-decoration: none; color: white; text-transform: uppercase; font-weight: bold
}
.menu ul li:hover {
	background: #d560ff;
	background: linear-gradient(180deg, #d560ff 0%, #a958ff 56%, #4846ff 100%); border-radius: 15px
}
.menu ul li:hover i {
	transition: all 0.5s
}
.menu ul li:hover i {
	transform: rotate(180deg)
}
.ml-10 {
	margin-left: 10px
}
.mr-10 {
	margin-right: 10px
}
/*submenu*/
.menu ul li {
	position: relative;
}
.menu ul li .submenu {
	position: absolute; left: 0; top: 100%; display: flex; flex-direction: column; width: 160px; background-color: white; display: none; border-radius: 16px; z-index: 200
}
.menu ul li:hover .submenu {
	display: block
}
.menu ul li .submenu a {
	color: #14141f; text-transform: none
}
.menu ul li .submenu li:hover {
	background: #d560ff;
	background: linear-gradient(180deg, #d560ff 0%, #a958ff 56%, #4846ff 100%)
}
.menu ul li .submenu li:hover a {
	color: white
}
/*symbol*/
.symbol a {
	text-decoration: none; padding: 10px; margin: auto 5px
}
.symbol a:hover {
	border-radius: 10px; background: #d560ff;
	background: linear-gradient(180deg, #d560ff 0%, #a958ff 56%, #4846ff 100%)
}
/*trang-chu*/
#trang-chu {
	width: 100%; min-height: 400px; position: relative; display: flex; align-items: center; justify-content: center
}
#slider .owl-dots{ position:absolute; bottom: 10px; left:48%;
}
#slider .owl-dots .owl-dot span {
      width: 12px;
      height: 12px; 	
}

#slider .owl-dots .owl-dot span {
      width: 10px;
      height: 10px;
      margin: 5px 7px;
      background:white;
      display: block;
      backface-visibility: visible;
      transition: opacity 200ms ease;
      border-radius: 30px;
}
 #slider .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
      background: #3930a3; 
}

#slider .owl-nav { position:absolute; left:0px; top:40%; width:100%;
}
#slider .owl-nav [class*='owl-'] {
	font-size:50px; /*background:rgba(255,255,255,.5);border:1px solid #fff; */ color: #fff
}

#slider .owl-nav .owl-next{ position:absolute; right:5%;
}
#slider .owl-nav .owl-prev{ position:absolute; left:5%;
}
#slider .owl-nav [class*='owl-']:hover {
      background:none;border: none;
      color: #3930a3;
      text-decoration: none;
}
#trang-chu .container {
	position: absolute; z-index: 100
}
.caption h1 {
	font-size: 70px; color: white
}
.caption h1 span {
	background: #d560ff;
	background: linear-gradient(180deg, #d560ff 0%, #a958ff 56%, #4846ff 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent
}
/*feature*/
#feature {
	width: 100%; min-height: 200px; margin: 60px auto
}
#feature .col-3 {
	text-align: center; color: white; padding: 50px
}
#feature .col-3 i {
	text-decoration: none; padding: 15px; border-radius: 10px; transition: all 0.7s
}
#feature .col-3 i:hover {
	transform: scale(1.3)
}
.khungtim {
	background-color: #5142fb
}
.khungxanh {
	background-color: #46a433
}
.khunghong {
	background-color: #9835fb
}
.khungcam {
	background-color: #df4949
}
/*picks*/
.gach-chan {
	border-bottom: 2px solid #3930a3
}
.title-picks {
	width: 100%; min-height: 50px; margin: 0 auto
}
.select-picks {
	width: 100%; min-height: 50px; margin: 0 auto
}
.bogoc {
	border-radius: 15px
}
#picks .khung {
	background-color: rgba(255, 255, 255, 0.1); padding: 20px; border-radius: 15px; transition: all 0.8s
}
.creator {
	width: 100%; min-height: 50px
}
.hinh {
	width: 50px; height: 50px; margin-right: 15px
}
.gach-dot {
	border-bottom: 1px dotted white
}
#picks .BSC p {
	padding: 5px 10px; border: 1px solid white; border-radius: 10px 
}
.history {
	width: 100%; min-height: 50px
}
.history a {
	text-decoration: none; color: white
}
#picks .monster {
	position: relative; overflow: hidden
}
#picks .icon {
	position: absolute; width: 80%; height: 50px; left: 10%; top: 100%; display: flex; justify-content: space-around; transition: all 0.7s
}
#picks .icon a {
	text-decoration: none; width: 45px; height: 45px; background-color: #666666; border-radius: 15px; display: flex; justify-content: center; align-items: center; color: white
}
#picks .icon a:hover {
	background: #d560ff;
	background: linear-gradient(180deg, #d560ff 0%, #a958ff 56%, #4846ff 100%);
}
#picks .monster:hover .icon {
	top: 40%
}
#picks .monster img {
	transition: all 0.8s
}
#picks .monster:hover img {
	transform: scale(0.9); opacity: 0.5
}
#picks .khung:hover {
	background: #d560ff;
	background: linear-gradient(180deg, #d560ff 0%, #a958ff 56%, #4846ff 100%);
}
/*sellers*/
#sellers {
	margin-top: 100px
}
.title-sellers {
	width: 100%; min-height: 50px; margin: 0 auto
}
.character {
	width: 100%; min-height: 50px
}
.image {
	width: 70px; height: 70px; margin-right: 15px
}
#sellers .character img {
	transition: all 0.7s
}
#sellers .character:hover img{
	transform: rotate(-30deg) scale(1.2)
}
#sellers .character p {
	transition: all 0.5s
}
#sellers .character:hover p {
	transform: translateX(20px)
}
/*footer*/
footer {
	 width: 100%; min-height: 400px; margin-top: 100px
}
.container-footer {
	width: 90%; margin: 0 auto
}
footer a {
	text-decoration: none; color: white; font-weight: bold; padding: 10px; border-radius: 15px
}
footer a:hover {
	background: #d560ff;
	background: linear-gradient(180deg, #d560ff 0%, #a958ff 56%, #4846ff 100%);
}